# Ignore everything
*

# Allow config/docs
!.gitignore
!README.md

# Allow server files
!announce.exe
!libmariadb.dll
!log-core.dll
!log-core2.dll
!samp-npc.exe
!samp-server.exe
!server.cfg

# Allow folders
!.vscode/
!.vscode/**

!scriptfiles/
!scriptfiles/**

!plugins/
!plugins/**

!npcmodes/
!npcmodes/**

!logs/
!logs/**

!gamemodes/
!gamemodes/**

!filterscripts/
!filterscripts/**
